header {
    background-color: rgb(22, 13, 13);
    color: rgb(243, 228, 25);
    font-size: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1px 0;
    text-align: center;
    z-index: 1;
    left: 0;
}
h2{
    background:#b91212;
    color: white;
    padding: 30px;
    font-size: 60px;
    width: 100%;
    
}
p{
    background:#d22e4c;
  color: white;
  padding: 30px;
  font-size: 30px;
  display: inline-block;
  width: 40%;
}
.Intro{
    position: relative;
    top: 50px;
}
.Intro p{
    position: relative;
    top: -120px;
    left: 200px;
}
.photos{
    position: relative;
    top: 0px;
}
.Intro img{
    max-width: 100%;
    display: inline-block;
    width: 20%;
    margin: 10px 10px 40px 400px;
    position: relative;
}

.photos img{
    max-width: 100%;
    display: inline-block;
    width: 20%;
    margin: 20px 5%;
    position: relative;
    left: 80px;
}
h3{
    font-size: 50px;
    text-align: center;
    background: rgb(168, 159, 159);
}
.contact h4{
    font-size: 30px;
    text-align: center;
    background: rgb(168, 159, 159);
    position: relative;
    top: 00px;
}
.contact li{
    font-size: 20px;
    color: rgb(58, 10, 50);
    position: relative;
    top: 00px;
    font-weight: bold;
}
